<footer class="text-center mt-auto">
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="/">Library.com</a>
  </div>
</footer>
