<head>
  <link rel="stylesheet" href="/css/header.css" />
</head>
<body>
  <header class="header">
    <div class="header_inner">
      <nav class="navbar">
        <a class="navbar__link" href="/">
          <img class="navbar_logo" src="/img/Perne-1(3).png" />
        </a>
        <a class="navbar__link" href="/leadBoard">Leaderboard</a>
        <a class="navbar__link" href="/about">About</a>
      </nav>
      <div class="navbar_profile">
        <a class="navbar__link" href="/login">Login</a>
      </div>
    </div>
  </header>
</body>
