<head>
  <link rel="stylesheet" href="css/index.css" />
  <title>Touch Typing</title>
</head>

<body>
  <div class="container-xl">
    <div class="timer" id="timer"></div>
    <div class="text_container">
      <div class="quote-display" id="quoteDisplay"></div>
      <textarea class="quote-input" id="quoteInput" autofocus></textarea>
    </div>
  </div>

  <script src="js/script.js" defer></script>
</body>
