<head>
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="css/lead.css" />
</head>
<table class="table">
  <thead>
    <th>Top 60s players</th>
    <tr>
      <th>Username</th>
      <th>Country</th>
      <th>Organization</th>
      <th>Wpm</th>
    </tr>
  </thead>
  <tbody>
    <% user60.forEach(function(user){ %>
    <tr>
      <td><%=user.username%></td>
      <td><%=user.country%></td>
      <td><%=user.organization%></td>
      <td><%=user.maxWpm%></td>
    </tr>
    <% }) %>
  </tbody>
</table>
