<head>
  <link rel="stylesheet" href="css/authorization.css" />
  <title>Create Account | Perne</title>
</head>

<body>
  <form action="/account/register" method="POST" id="reg-form">
    <div class="text__field">
      <input
        type=" text"
        id="username"
        name="username"
        required
        autocomplete="off"
      />
      <span></span>
      <label>Login</label>
    </div>
    <div class="text__field">
      <input type="text" id="email" name="email" required autocomplete="off" />
      <span></span>
      <label>E-mail</label>
    </div>
    <div class="text__field">
      <input
        type="password"
        id="password"
        name="password"
        required
        autocomplete="off"
      />
      <label>Password</label>
    </div>
    <div class="text__field">
      <input
        type="text"
        id="country"
        name="country"
        required
        autocomplete="off"
      />
      <label>City</label>
    </div>
    <div class="text__field">
      <input
        type="text"
        id="organization"
        name="organization"
        required
        autocomplete="off"
      />
      <label>Organization</label>
    </div>
    <input type="submit" value="Register" id="signup__btn" autocomplete="off" />
    <div class="signup__link">
      Already have an account? <a href="/account/login"> Login</a>
    </div>
  </form>
</body>
